// Place all the styles related to the shedule_details controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.lessonsTbl{
    background: #f6f5f5 !important;
    width: 930px;
    position: relative;
    padding: 20px 35px 30px 35px;
}
.lessonsTbl h1{
    font: normal 21px/16px Georgia !important;
}

#one-column-emphasis{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 11px;
    margin: 20px 0px 0px 0px;
    border: 1px solid #dddddd;
    text-align: left;
    border-collapse: collapse;
    width: 828px;
}
#one-column-emphasis th
{
    font-size: 13px;
    font-weight: normal !important;
    text-align: center;
    height: 32px;
    line-height: 32px;
    border-bottom: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
    color: #666666;
    background: url(tblThBgr.jpg) repeat-x left top;
}
#one-column-emphasis td.lessonTbl
{
    color: #669;
    width: 149px;
    border-left: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}
#one-column-emphasis th.firstCol{
    width: 30px !important;
}
.dayTbl{
    width: 30px !important;
    padding: 10px 0px;
    text-align: center;
    border-bottom: 1px solid #dddddd;
}
#one-column-emphasis td  div
{
}
/*#one-column-emphasis tr:nth-child(2n+1){
     background: #ffffff; 
}
tr:nth-child(2n) {
     background: #f6f5f5;
}*/

#parts{
    
}
#one-column-emphasis tr:hover td
{
    color: #339;
    background: #eff2ff;
    //border: 1px solid #e8edff;
}
/*#one-column-emphasis td:hover
{
    color: #339;
    background: #eff2ff;
   
}*/
.daysBox{
    position: absolute;
    right: 38px;
    top: 20px;
}
.daysBox div{
    float: left;
}
#full_day{
    background: url(full_day.gif);
    width:23px;
    height:23px;
}
div#first_full{
    background: url(first.gif);
    width:23px;
    height:23px;
}
div#second_full{
    background: url(second.gif);
    width:23px;
    height:23px;
}
div#ch_full{
    background: url(ch_full.gif);
    width:23px;
    height:23px;
}
div#zn_full{
    background: url(zn_full.gif);
    width:23px;
    height:23px;
}
div#ch_first{
    background: url(ch_first.gif);
    width:23px;
    height:23px;
}
div#ch_second{
    background: url(ch_sec.gif);
    width:23px;
    height:23px;
}
div#zn_second{
    background: url(zn_sec.gif);
    width:23px;
    height:23px;
}
div#zn_first{
    background: url(zn_first.gif);
    width:23px;
    height:23px;
}
.not_norm {
    text-color:red;
    }